body {
    background-color: #a9e5f0
}

nav {
    background-color: #a9e5f0 !important;
    box-shadow: none !important;
}

ul li {
    margin-left: 15px;  
    text-align: center;
}

span {
    font-style: inherit;
}

img {
    height: 10%;
    width: 10%;
    margin-bottom: 4px;
    background-color: #a9e5f0;
}

.brand-logo {
    margin-left: 40px;
}