<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste patients</title>
</head>
<body>
    <div class="container-table">
        <table class="stripped">
            <thead>
              <tr>
                  <th>Nom et prénoms</th>
                  <th>Date de naissance</th>
                  <th>Numéro CIN</th>
                  <th>Traitement</th>
              </tr>
            </thead>
    
    <!-- Fenoina @alalàn'ny Post/GET? -->
            <tbody>
              <tr>
                <td>Maholy</td>
                <td>bla</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Safidisoa</td>
                <td>bla</td>
                <td>0</td>
              </tr>
              <tr>
                <td>...</td>
                <td>bla</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
                
    </div>
    <button class="btn waves-effect waves-light #B6EAFA right " type="submit" name="action">Supprimer
      <i class="material-icons right">delete_forever</i>
    </button>
</body>
</html>